@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
th {
  font-weight: 300;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  margin: 0;
  padding-top: 2px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
}

body {
  background-image: url("back2.jpg");
  background-size: cover;
  color: #454545;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff0fd;
  height: 40px;
  /*test*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

header .main-header {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-header img {
  width: 34px;
  margin-top: 3px;
}

header .category-header {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .category-header a {
  margin-right: 16px;
  position: relative;
}

.category-header a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #fff4e6;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.category-header a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-visual {
  margin-top: 50px !important;
  margin: auto;
  width: 85%;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

.main-visual img {
  width: 80%;
  margin-top: 15px;
}

.main-visual:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.join {
  margin-top: 50px !important;
  margin: auto;
  width: 85%;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.join ul li {
  margin: 20px;
  line-height: 1.5;
  list-style-type: none !important;
}

.join strong {
  font-size: 18px;
  text-align: center;
  margin: 10px;
  border-bottom: dotted 1px;
}

.join .border {
  margin: 0 5px;
  border: 2px dotted white;
  border-radius: 10px;
}

.join .border ul li {
  margin: 0 -5px;
}

ul li i {
  color: #23d0eb;
  /*アイコン色*/
}

.join:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.information {
  margin-top: 50px !important;
  margin: auto;
  width: 85%;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 160px;
  /*test*/
}

.information table {
  margin-left: 10px;
}

.information:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.adsense {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.adsense img {
  opacity: 0.9;
  width: 85%;
  margin-bottom: 20px;
}

.adsense img:hover {
  opacity: 1;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.terms {
  margin-top: 50px !important;
  margin: auto;
  width: 85%;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.terms .terms-detail {
  overflow-y: scroll;
  margin: 20px;
  padding: 10px;
  height: 200px;
  border-radius: 10px;
  overflow-x: hidden;
  background-color: white;
}

.terms .terms-detail strong {
  font-size: 14px;
}

.terms .terms-detail p {
  font-size: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 40px;
  /*test*/
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 26px;
}

footer .footer-wrapper .fa-twitter {
  color: #00acee;
}

footer .footer-wrapper .fa-soundcloud {
  color: #ff7700;
}

footer .footer-wrapper p {
  font-size: 12px;
  margin-right: 8px;
  margin-top: 10px;
}

footer .footer-wrapper img {
  width: 34px;
  margin: 3px 8px 0px 8px;
}

footer .footer-wrapper i {
  margin: 0 8px;
}

@media screen and (min-width: 700px) {
  .main-visual {
    width: 50%;
  }
  .join {
    width: 50%;
  }
  .information {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .main-visual {
    width: 60%;
  }
  .join {
    width: 30%;
  }
  .information {
    width: 30%;
  }
  .terms {
    width: 30%;
  }
  .adsense img {
    width: 50%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */
